$primaryColourDark: #3f4e60;
$primaryColourMid:#68798e;
$primaryColourLite: #d9e1e8;
$errColour: #e2b2b2;

.errorMsg {
  display: none;
  background-color: $errColour;
  border-radius:  3px;
  border: 1px solid #004f75;
  color: #c10000;
  text-align: center;
  margin-bottom: 5px;
  height: 2em;
  line-height: 2em;
}

.new-tweet {
  padding: 0.5em;
  border: 2px solid $primaryColourDark;
  background-color: $primaryColourMid;
  border-radius: 5px;
  display: none;


  h2 {
    border-bottom: 2px solid $primaryColourDark;
    line-height: 1em;
    margin-top: 0;
  }

  textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }

  input {
    margin-top: 0.2em;
    border-radius: 3px;
    background-color: $primaryColourLite;
    color: $primaryColourDark;
  }

  .counter {
    float: right;
    padding-top: 0.5em;
    padding-right: 0.5em;
    font-style: italic;
  }

  .negative {
    color: $errColour;
  }
}